## Q1.Program to scrape data for “Data Analyst” Job position in “Bangalore” location from https://www.naukri.com/

In [ ]:
# !pip install selenium

In [1]:
import pandas as pd
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
job

In [6]:
job.send_keys('Data Analyst')

In [7]:
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc

In [8]:
search_loc.send_keys('Bangalore')

In [9]:
btn=driver.find_element_by_xpath("//button[@class='btn']")
btn

In [10]:
btn.click()

In [13]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title
# using for loop to extracting text
job_title=[]
for i in title:
    job_title.append(i.text)
print('\n Job Title',job_title)

 Job Title ['Data Scientist / Data Analyst -Business Analyst', 'Data Analyst,1', 'Junior Data Analyst', 'Data Analyst', 'Network Design & Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Data Analyst', 'Data Analyst', 'Lead Data Analyst', 'Senior Data Analyst Python, ML - Bangalore', 'Data analysts', 'Data Analyst', 'Excel VBA Jobs Bangalore | VBA data analyst Jobs', 'Consultant - Data Analyst', 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)', 'Senior Data Analyst', 'Hot Vacancies - Senior Data Analyst, Bengaluru', 'Data Analyst, 2', 'Lead Data Analyst']

In [14]:
c_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in c_name:
    company.append(i.text)
print('\n company name \n\n',company)

 company name

 ['Inflexion Analytix Private Limited', 'Epsilon', 'Simplilearn', 'Flipkart', 'Dell International Services India Private Limited', 'Aritha Consulting Services Pvt. Ltd.', 'Publicis Groupe', 'Novel Office', 'Harman Connected Services Corporation India Pvt.', 'European Company', '2coms', 'IBM India Pvt. Limited', 'CARNATION INFOTECH PRIVATE LIMITED', 'Mind Circus Innovation', 'Flipkart Internet Private Limited', 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.', 'Harman Connected Services Corporation India Pvt.', 'WSP CONSULTANTS INDIA PRIVATE LIMITED', 'Epsilon', 'Publicis Groupe']

In [15]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
job_loc=[]
for i in loc:
    job_loc.append(i.text)
print('\n Job Location \n\n',job_loc)

 Job Location

 ['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(Sector 2 HSR Layout)\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru, Delhi / NCR', 'Bangalore/Bengaluru, Bangalore', 'Bangalore/Bengaluru', 'Lucknow, Bangalore/Bengaluru\n(WFH during Covid)', 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram', 'Bangalore/Bengaluru', 'Mumbai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [16]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_req=[]
for i in exp:
    exp_req.append(i.text)
print('\n Experience Required',exp_req)

 Experience Required ['0-3 Yrs', '0-2 Yrs', '0-2 Yrs', '3-8 Yrs', '0-2 Yrs', '2-4 Yrs', '6-8 Yrs', '0-3 Yrs', '5-7 Yrs', '10-20 Yrs', '2-7 Yrs', '5-10 Yrs', '0-5 Yrs', '0-2 Yrs', '0-2 Yrs', '10-15 Yrs', '2-7 Yrs', '5-10 Yrs', '2-5 Yrs', '8-10 Yrs']

In [17]:
print('length of Job Title: ',len(job_title),
     '\nlength of Job Location: ',len(job_loc),
      '\nlength of Company Name: ',len(company),
      '\nLength of Experience Required: ',len(exp_req))

length of Job Title:  20
length of Job Location:  20
length of Company Name:  20
Length of Experience Required:  20

In [18]:
data=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company Name':company,'Experience Required':exp_req})
data.iloc[0:10,]

,Title,Location,Company Name,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,"Data Analyst,1",Bangalore/Bengaluru,Epsilon,0-2 Yrs
2,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout)\n(WFH...,Simplilearn,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
4,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Aritha Consulting Services Pvt. Ltd.,2-4 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,6-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
8,Data Analyst,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,5-7 Yrs
9,Lead Data Analyst,"Chennai, Bangalore/Bengaluru, Delhi / NCR",European Company,10-20 Yrs

#

## Q2 Program to scrape data for “Data Scientist” Job position in “Bangalore” location from https://www.naukri.com/

In [19]:
import pandas as pd
import selenium
from selenium import webdriver

In [20]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [21]:
url='https://www.naukri.com/'
driver.get(url)

In [22]:
job_path=driver.find_element_by_id('qsb-keyword-sugg')
job_path.send_keys('Data Scientist')

In [23]:
loc_path=driver.find_element_by_id('qsb-location-sugg')
loc_path.send_keys('Bangalore')

In [27]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles

job_titles=[]
for i in titles:
    job_titles.append(i.text)
job_titles=job_titles[0:10]
print('\n Job Title\n',job_titles)

 Job Title
 ['Ignitarium is hiring For Senior Data Scientist, Bangalore / Kochi', 'Data Scientist / Data Analyst -Business Analyst', 'Data Scientist', 'Senior Data Scientist For advisory/ teaching/ projects role Remote', 'Sr. Data Scientist', 'Sr . Data Scientist', 'Senior Data Scientist', 'Lead Data Scientist', 'Data Scientist', 'NielsenIQ Applied Data Scientist (Azure/Python/Spark)']

In [28]:
loc_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_loc_=[]
for i in loc_:
    job_loc_.append(i.text)
job_loc_=job_loc_[0:10]
print('\n Job Location \n\n',job_loc_)

 Job Location

 ['Kochi/Cochin, Ernakulam, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [29]:
c_names=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_names=[]
for i in c_names:
    com_names.append(i.text)
com_names=com_names[0:10]
print('\n company name \n',com_names)

 company name
 ['Ignitarium Technology Solutions Private Limited', 'Inflexion Analytix Private Limited', 'Flipkart Internet Private Limited', 'Shikvix LLC', 'Neustar MarketShare', 'Target Corporation India Pvt Ltd', 'Flipkart Internet Private Limited', 'bd', 'Cardinal Drugs Ltd.', 'NielsenIQ']

In [30]:
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_opening_url=[]
for i in url:
    job_opening_url.append(i.get_attribute('href'))
job_opening_url=job_opening_url[0:17]
job_opening_url

['https://www.naukri.com/job-listings-ignitarium-is-hiring-for-senior-data-scientist-bangalore-kochi-ignitarium-technology-solutions-private-limited-kochi-cochin-ernakulam-bangalore-bengaluru-2-to-6-years-140721005105?src=jobsearchDesk&sid=16263403996477913&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16263403996477913&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-0-to-5-years-080721904425?src=jobsearchDesk&sid=16263403996477913&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-for-advisory-teaching-projects-role-remote-shikvix-llc-hyderabad-secunderabad-chennai-bangalore-bengaluru-3-to-8-years-130721002852?src=jobsearchDesk&sid=16263403996477913&xp=4&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-neustar-marketshare-bangalore-bengaluru-2-to-5-years-130721500641?src=jobsearchDesk&sid=16263403996477913&xp=5&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-target-corporation-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-130721500976?src=jobsearchDesk&sid=16263403996477913&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-5-to-10-years-090721908235?src=jobsearchDesk&sid=16263403996477913&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-090721501722?src=jobsearchDesk&sid=16263403996477913&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cardinal-drugs-ltd-bangalore-bengaluru-7-to-12-years-140721501686?src=jobsearchDesk&sid=16263403996477913&xp=9&px=1',
 'https://www.naukri.com/job-listings-nielseniq-applied-data-scientist-azure-python-spark-nielseniq-bangalore-bengaluru-5-to-10-years-130721500959?src=jobsearchDesk&sid=16263403996477913&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-nhancenow-bangalore-bengaluru-5-to-7-years-130721500387?src=jobsearchDesk&sid=16263403996477913&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neustar-marketshare-bangalore-bengaluru-2-to-5-years-130721500640?src=jobsearchDesk&sid=16263403996477913&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fujitsu-consulting-india-pvt-ltd-noida-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-4-to-9-years-140721004007?src=jobsearchDesk&sid=16263403996477913&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bigshyft-hiring-for-bidgely-bangalore-bengaluru-3-to-7-years-140721900649?src=jobsearchDesk&sid=16263403996477913&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16263403996477913&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=16263403996477913&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721906161?src=jobsearchDesk&sid=16263403996477913&xp=17&px=1']

In [31]:
job_des=[]
for i in job_opening_url:
    driver.get(i)
    des=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for i in des:
        job_des.append(i.text.replace('\n',' '))
job_des=job_des[0:10]
print('\n Full Job Description \n\n',job_des)

 Full Job Description


In [32]:
print('length of Job Title: ',len(job_titles),
     '\nlength of Job Location: ',len(job_loc_),
      '\nlength of Company Name: ',len(com_names),
      '\nLength of Full Job Description: ',len(job_des))

length of Job Title:  10
length of Job Location:  10
length of Company Name:  10
Length of Full Job Description:  10

In [33]:
data=pd.DataFrame({'Title':job_titles,'Location':job_loc_,'Company Name':com_names,'Job Description':job_des})
data

,Title,Location,Company Name,Job Description
0,Ignitarium is hiring For Senior Data Scientist...,"Kochi/Cochin, Ernakulam, Bangalore/Bengaluru",Ignitarium Technology Solutions Private Limited,Senior Data Scientist Please find the JD belo...
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description Job Role: Data Scientist/Data...
2,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,About the team The Data Sciences team at Flipk...
3,Senior Data Scientist For advisory/ teaching/ ...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Shikvix LLC,Seeking senior data scientists for part-time r...
4,Sr. Data Scientist,Bangalore/Bengaluru,Neustar MarketShare,Responsibilities: Algorithm Development: Devel...
5,Sr . Data Scientist,Bangalore/Bengaluru,Target Corporation India Pvt Ltd,A role with the Target Data Science and Analyt...
6,Senior Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,About the role A Senior Data Scientist in Flip...
7,Lead Data Scientist,Bangalore/Bengaluru,bd,Evaluating business requirements and developin...
8,Data Scientist,Bangalore/Bengaluru,Cardinal Drugs Ltd.,Job Overview Create and deliver business value...
9,NielsenIQ Applied Data Scientist (Azure/Python...,Bangalore/Bengaluru,NielsenIQ,We re looking for a passionate and talented Sr...

#

# 3.In this question you have to scrape data using the filters available.....

In [34]:
import pandas as pd
import selenium
from selenium import webdriver

In [35]:
# connecting to driver
driver=webdriver.Chrome('chromedriver.exe')
driver

In [36]:
url='https://www.naukri.com/'
driver.get(url)

In [37]:
job_path=driver.find_element_by_id('qsb-keyword-sugg')
job_path.send_keys('Data Scientist')

In [38]:
search_click=driver.find_element_by_xpath("//button[@class='btn']")
search_click.click()

In [39]:
loc=driver.find_element_by_xpath('//span[@class="fw500"]')
loc.click()

In [40]:
sal=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
sal.click()

In [41]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles
job_titles=[]
for i in titles:
    job_titles.append(i.text)
print('\n Job Title \n\n',job_titles)

 Job Title

 ['Data Scientist', 'Data Scientist / Data Analyst -Business Analyst', 'Ignitarium is hiring For Senior Data Scientist, Bangalore / Kochi', 'Senior Data Scientist', 'Senior Data Scientist For advisory/ teaching/ projects role Remote', 'Sr. Data Scientist', 'Sr . Data Scientist', 'Lead Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist: Advanced Analytics', 'Data Scientist', 'NielsenIQ Applied Data Scientist (Azure/Python/Spark)', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Senior Data Scientist', 'Data Scientist', 'Big Data Scientist', 'Senior Data Scientist']

In [42]:
c_names=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_names=[]
for i in c_names:
    com_names.append(i.text)
print('\n company name \n\n',com_names)

 company name

 ['Flipkart Internet Private Limited', 'Inflexion Analytix Private Limited', 'Ignitarium Technology Solutions Private Limited', 'Flipkart Internet Private Limited', 'Shikvix LLC', 'Neustar MarketShare', 'Target Corporation India Pvt Ltd', 'bd', 'Oracle India Pvt. Ltd.', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'Cardinal Drugs Ltd.', 'NielsenIQ', 'NHANCENOW', 'Neustar MarketShare', 'Fujitsu Consulting India Pvt. Ltd.', 'Bigshyft Hiring for Bidgely', 'Applied Materials', 'Hire Hunters', 'inVentiv International Pharma Services Pvt. Ltd.']

In [43]:
loc_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span") 
job_loc_=[]
for i in loc_:
    job_loc_.append(i.text)
print('\n Job Location \n\n',job_loc_)

 Job Location

 ['Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Kochi/Cochin, Ernakulam, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Noida, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [44]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_req=[]
for i in exp:
    exp_req.append(i.text)
print('\n Experience Required \n\n',exp_req)

 Experience Required

 ['0-5 Yrs', '0-3 Yrs', '2-6 Yrs', '5-10 Yrs', '3-8 Yrs', '2-5 Yrs', '5-8 Yrs', '2-7 Yrs', '5-9 Yrs', '3-6 Yrs', '5-10 Yrs', '7-12 Yrs', '5-10 Yrs', '5-7 Yrs', '2-5 Yrs', '4-9 Yrs', '3-7 Yrs', '5-10 Yrs', '5-10 Yrs', '3-6 Yrs']

In [45]:
print('length of Job Title: ',len(job_titles),
     '\nlength of Job Location: ',len(job_loc_),
      '\nlength of Company Name: ',len(com_names),
      '\nLength of Experience Required: ',len(exp_req))

length of Job Title:  20
length of Job Location:  20
length of Company Name:  20
Length of Experience Required:  20

In [46]:
df=pd.DataFrame({'Title':job_titles,'Location':job_loc_,'Company Name':com_names,'Experience Required':exp_req})
df.iloc[0:10,]

,Title,Location,Company Name,Experience Required
0,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-5 Yrs
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
2,Ignitarium is hiring For Senior Data Scientist...,"Kochi/Cochin, Ernakulam, Bangalore/Bengaluru",Ignitarium Technology Solutions Private Limited,2-6 Yrs
3,Senior Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,5-10 Yrs
4,Senior Data Scientist For advisory/ teaching/ ...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Shikvix LLC,3-8 Yrs
5,Sr. Data Scientist,Bangalore/Bengaluru,Neustar MarketShare,2-5 Yrs
6,Sr . Data Scientist,Bangalore/Bengaluru,Target Corporation India Pvt Ltd,5-8 Yrs
7,Lead Data Scientist,Bangalore/Bengaluru,bd,2-7 Yrs
8,Data Scientist,"Noida, Bangalore/Bengaluru",Oracle India Pvt. Ltd.,5-9 Yrs
9,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,3-6 Yrs

#

## Q4.Program to scrape data for first 10 job results for Data scientist Designation in Noida location from https://www.glassdoor.co.in/index.htm

In [47]:
import pandas as pd
import selenium
from selenium import webdriver

In [48]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [49]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [50]:
job_path=driver.find_element_by_xpath("//input[@class='css-1etjok6']")
job_path.send_keys('Data Scientist')

In [51]:
loc_path=driver.find_element_by_id("sc.location")
loc_path.send_keys('Noida')

In [52]:
search_click=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_click.click()

In [53]:
cname=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
com_name=[]
for i in cname:
    com_name.append(i.text)
print('\n Company Name \n\n',com_name)

 Company Name

 ['Bechtel', 'Salesforce', 'Ericsson', 'MobiKwik', 'Crowe', 'xtLytics', 'Siemens Technology and Services Private Limited', 'UnitedHealth Group', 'Data Patterns', 'Biz2Credit Inc', 'Priority Vendor', 'Novo', 'Lantern Digital Services', 'Gauge Data Solutions', 'Techlive', 'WishFin', 'ADCI - Haryana', 'Ally wiredsoft solutions (P) ltd', 'Innovacer', 'Algoscale', 'WinZO', 'Salasar New Age Technologies', 'Innovacer', 'SearchUrCollege', 'Team Computers', 'White Vectors', 'Donaldson', 'ESRI, Inc.', 'Adobe', 'Aliqan Technologies', 'United Airlines', 'Genpact']

In [54]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
no_of_days=[]
for i in days:
    no_of_days.append(i.text)
print('\n No. Of Days \n\n',no_of_days)

 No. Of Days

 ['6d', '9d', '21d', '1d', '', '24h', '26d', '24h', '2d', '22d', '14d', '12d', '8d', '14d', '20d', '25d', '24h', '7d', '16d', '14d', '5d', '27d', '19d', '14d', '2d', '8d', '5d', '23d', '24h', '24h', '9d', '7d']

In [55]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
rating_=[]
for i in rating:
    rating_.append(i.text)
print('\n Job Title \n\n',rating_)

 Job Title

 ['4.0', '4.5', '4.1', '4.0', '', '', '4.1', '3.6', '3.1', '3.9', '3.7', '4.2', '3.5', '3.0', '5.0', '3.8', '4.3', '', '3.8', '3.8', '4.7', '', '3.8', '', '4.1', '', '3.8', '4.0', '4.4', '', '4.1', '3.8']

In [56]:
print('length of Company Name: ',len(com_name),
     '\nlength of No. of Days: ',len(no_of_days),
      '\nlength of Company Rating: ',len(rating_))

length of Company Name:  32
length of No. of Days:  32
length of Company Rating:  32

In [57]:
df=pd.DataFrame({'Company Name':com_name,'No.of Days Ago':no_of_days,'Company Rating':rating_})
df.iloc[0:10,]

,Company Name,No.of Days Ago,Company Rating
0,Bechtel,6d,4.0
1,Salesforce,9d,4.5
2,Ericsson,21d,4.1
3,MobiKwik,1d,4.0
4,Crowe,,
5,xtLytics,24h,
6,Siemens Technology and Services Private Limited,26d,4.1
7,UnitedHealth Group,24h,3.6
8,Data Patterns,2d,3.1
9,Biz2Credit Inc,22d,3.9

#

## Q5.Program to scrape the salary data for Data Scientist designation in Noida location.from https://www.glassdoor.co.in/Salaries/index.htm

In [58]:
import pandas as pd
import selenium
from selenium import webdriver

In [59]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [60]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [61]:
job_path=driver.find_element_by_id('KeywordSearch')
job_path.send_keys('Data Scientist')

In [62]:
loc_path=driver.find_element_by_id('LocationSearch')
loc_path.send_keys('Noida')

In [66]:
search_click=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_click.click()

In [68]:
cname=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
com_name=[]
for i in cname:
    com_name.append(i.text)
print('\n Company Name \n',com_name)

 Company Name
 ['IBM', 'Tata Consultancy Services', 'Accenture', 'Delhivery', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Valiance Solutions', 'EXL Service', 'Optum', 'Optum Global Solutions', 'ZS Associates', 'Innovaccer', 'Cognizant Technology Solutions', 'OYO', 'Nagarro', 'dunnhumby', 'Vidooly Media Tech', 'Tech Mahindra', 'Bharti Airtel', 'R Systems']

In [69]:
salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")
no_of_salaries=[]
for i in salary:
    no_of_salaries.append(i.text)
print('\n No.of Salaries \n',no_of_salaries)

 No.of Salaries
 ['18 salaries', '17 salaries', '15 salaries', '15 salaries', '14 salaries', '13 salaries', '10 salaries', '9 salaries', '9 salaries', '9 salaries', '8 salaries', '8 salaries', '6 salaries', '6 salaries', '6 salaries', '6 salaries', '6 salaries', '5 salaries', '5 salaries', '5 salaries']

In [70]:
asal=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

avg_sal=[]
for i in asal:
    avg_sal.append(i.text.replace('\n',' '))
print('\n Average Salary \n',avg_sal)

 Average Salary
 ['₹9,00,000  /yr', '₹6,15,289  /yr', '₹11,63,336  /yr', '₹12,18,244  /yr', '₹7,39,238  /yr', '₹13,00,000  /yr', '₹8,63,750  /yr', '₹11,10,000  /yr', '₹14,23,677  /yr', '₹13,28,697  /yr', '₹11,42,356  /yr', '₹12,09,040  /yr', '₹10,09,021  /yr', '₹12,58,227  /yr', '₹9,92,632  /yr', '₹10,55,478  /yr', '₹34,157  /mo', '₹10,54,402  /yr', '₹16,00,000  /yr', '₹18,40,134  /yr']

In [71]:
maxsal=driver.find_elements_by_xpath("//div[@class='d-none d-lg-flex col-2 align-items-center']")

max_sal=[]
for i in maxsal:
    max_sal.append(i.text.replace('Range: ','').replace('\n',' '))
print('\n Maximum Salary \n\n',max_sal)

 Maximum Salary

 ['₹6L ₹27L', '₹3L ₹13L', '₹6L ₹22L', '₹5L ₹1Cr', '₹4L ₹16L', '₹8L ₹15L', '₹5L ₹15L', '₹6L ₹15L', '₹8L ₹20L', '₹4L ₹22L', '₹2L ₹18L', '₹6L ₹17L', '₹8L ₹13L', '₹10L ₹19L', '₹4L ₹16L', '₹8L ₹20L', '₹12T ₹63T', '₹4L ₹17L', '₹6L ₹29L', '₹8L ₹30L']

In [72]:
max_s=[]    
for p in max_sal:
   max_s.append(p[4:]) 
max_s

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L',
 '₹13L',
 ' ₹19L',
 '₹16L',
 '₹20L',
 ' ₹63T',
 '₹17L',
 '₹29L',
 '₹30L']

In [73]:
minsal=driver.find_elements_by_xpath("//div[@class='d-none d-lg-flex col-2 align-items-center']")

min_sal=[]
for i in minsal:
    min_sal.append(i.text.replace('Range: ','').replace('\n',' '))

print('\n Minimum Salary \n\n',min_sal)

 Minimum Salary

 ['₹6L ₹27L', '₹3L ₹13L', '₹6L ₹22L', '₹5L ₹1Cr', '₹4L ₹16L', '₹8L ₹15L', '₹5L ₹15L', '₹6L ₹15L', '₹8L ₹20L', '₹4L ₹22L', '₹2L ₹18L', '₹6L ₹17L', '₹8L ₹13L', '₹10L ₹19L', '₹4L ₹16L', '₹8L ₹20L', '₹12T ₹63T', '₹4L ₹17L', '₹6L ₹29L', '₹8L ₹30L']

In [74]:
min_s=[]    
for p in min_sal:
    min_s.append(p[:-4]) 
min_s

['₹6L ',
 '₹3L ',
 '₹6L ',
 '₹5L ',
 '₹4L ',
 '₹8L ',
 '₹5L ',
 '₹6L ',
 '₹8L ',
 '₹4L ',
 '₹2L ',
 '₹6L ',
 '₹8L ',
 '₹10L ',
 '₹4L ',
 '₹8L ',
 '₹12T ',
 '₹4L ',
 '₹6L ',
 '₹8L ']

In [75]:
print('length of Company Name: ',len(com_name),
     '\nlength of No. of Salaries: ',len(no_of_salaries),
      '\nlength of Average Salary: ',len(avg_sal),
      '\nlength of Maximum Salary: ',len(max_s),
      '\nlength of Minimum Salary: ',len(min_s))

length of Company Name:  20
length of No. of Salaries:  20
length of Average Salary:  20
length of Maximum Salary:  20
length of Minimum Salary:  20

In [76]:
df=pd.DataFrame({'Name':com_name,'No.of Salaries':no_of_salaries,'Average Salary':avg_sal,'Minimum Salary':min_s,'Maximun Salary':max_s})
df.iloc[0:10,]

,Name,No.of Salaries,Average Salary,Minimum Salary,Maximun Salary
0,IBM,18 salaries,"₹9,00,000 /yr",₹6L,₹27L
1,Tata Consultancy Services,17 salaries,"₹6,15,289 /yr",₹3L,₹13L
2,Accenture,15 salaries,"₹11,63,336 /yr",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,18,244 /yr",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238 /yr",₹4L,₹16L
5,UnitedHealth Group,13 salaries,"₹13,00,000 /yr",₹8L,₹15L
6,Valiance Solutions,10 salaries,"₹8,63,750 /yr",₹5L,₹15L
7,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L,₹15L
8,Optum,9 salaries,"₹14,23,677 /yr",₹8L,₹20L
9,Optum Global Solutions,9 salaries,"₹13,28,697 /yr",₹4L,₹22L

#

# 6.Scrape data of first 100 sunglasses listings on flipkart.com

In [132]:
import pandas as pd
import selenium
from selenium import webdriver

In [133]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [135]:
driver.get('https://www.flipkart.com/')

In [136]:
enter=driver.find_element_by_name('q')
enter.send_keys('sunglasses')

In [137]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

#### 1st page

In [139]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_name=[]
for i in brand:
    brand_name.append(i.text)
brand_name=brand_name[:-2]
print('\n Brand Name \n\n',brand_name)

 Brand Name

 ['LIZA ANGEL', 'Singco India', 'Fastrack', 'kingsunglasses', 'Fastrack', 'Fastrack', 'PIRASO', 'ROYAL SON', 'kingsunglasses', 'Elligator', 'PHENOMENAL', 'ROYAL SON', 'GANSTA', 'PHENOMENAL', 'PIRASO', 'povty', 'kingsunglasses', 'Villain', 'ROZZETTA CRAFT', 'PIRASO', 'kingsunglasses', 'hipe', 'Fastrack', 'PIRASO', 'kingsunglasses', 'PIRASO', 'HIPPON', 'ROYAL SON', 'Silver Kartz', 'kingsunglasses', 'Fastrack', 'ROYAL SON', 'Fastrack', 'Fastrack', 'DEIXELS', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack']

In [148]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price_=[]
for i in price:
    price_.append(i.text)
price_=price_[:-2]
print('\n Price \n\n',price_)

 Price

 ['₹275', '₹214', '₹513', '₹299', '₹758', '₹509', '₹237', '₹664', '₹349', '₹295', '₹399', '₹379', '₹281', '₹297', '₹331', '₹349', '₹299', '₹599', '₹499', '₹237', '₹210', '₹287', '₹1,010', '₹339', '₹349', '₹237', '₹225', '₹599', '₹246', '₹225', '₹592', '₹664', '₹1,085', '₹522', '₹213', '₹237', '₹474', '₹655']

In [145]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount_=[]
for i in discount:
    discount_.append(i.text)
discount_=discount_[:-2]
print('\n Discount % \n\n',discount_)

 Discount %

 ['65% off', '69% off', '35% off', '88% off', '15% off', '36% off', '85% off', '66% off', '78% off', '88% off', '80% off', '74% off', '85% off', '87% off', '79% off', '65% off', '88% off', '20% off', '77% off', '85% off', '82% off', '84% off', '22% off', '78% off', '76% off', '85% off', '81% off', '70% off', '83% off', '79% off', '34% off', '66% off', '16% off', '41% off', '82% off', '85% off', '78% off', '27% off']

In [146]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_des=[]
for i in product:
    product_des.append(i.text)
product_des=product_des[:-1]
print('\n Product Description  \n\n',product_des)

 Product Description

 ['UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'Polarized, UV Protection Round Sunglasses (49)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Round Sunglasses (53)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Others Retro Square Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Sports Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection Retro Square Sunglasses (88)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wrap-around Sunglasses (Free Size)', 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (56)', 'Mirrored Round Sunglasses (53)']

In [149]:
print('length of Brand Name: ',len(brand_name),
     '\nlength of Price: ',len(price_),
      '\nlength of Discount Percentage: ',len(discount_),
      '\nlength of Product Description: ',len(product_des))

length of Brand Name:  38
length of Price:  38
length of Discount Percentage:  38
length of Product Description:  38

In [151]:
first=pd.DataFrame({'Brand Name':brand_name,'Product Description':product_des,'Price':price_,'Discount %':discount_})
first

,Brand Name,Product Description,Price,Discount %
0,LIZA ANGEL,"UV Protection, Riding Glasses, Others Aviator,...",₹275,65% off
1,Singco India,UV Protection Rectangular Sunglasses (Free Size),₹214,69% off
2,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹513,35% off
3,kingsunglasses,UV Protection Wayfarer Sunglasses (Free Size),₹299,88% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹758,15% off
5,Fastrack,UV Protection Aviator Sunglasses (54),₹509,36% off
6,PIRASO,"Polarized, UV Protection Round Sunglasses (49)",₹237,85% off
7,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹664,66% off
8,kingsunglasses,UV Protection Round Sunglasses (54),₹349,78% off
9,Elligator,UV Protection Retro Square Sunglasses (Free Size),₹295,88% off
10,PHENOMENAL,Mirrored Aviator Sunglasses (55),₹399,80% off
11,ROYAL SON,UV Protection Aviator Sunglasses (57),₹379,74% off
12,GANSTA,UV Protection Round Sunglasses (53),₹281,85% off
13,PHENOMENAL,UV Protection Aviator Sunglasses (Free Size),₹297,87% off
14,PIRASO,UV Protection Wayfarer Sunglasses (Free Size),₹331,79% off
15,povty,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹349,65% off
16,kingsunglasses,Others Retro Square Sunglasses (Free Size),₹299,88% off
17,Villain,UV Protection Retro Square Sunglasses (Free Size),₹599,20% off
18,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (54),₹499,77% off
19,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹237,85% off
20,kingsunglasses,UV Protection Sports Sunglasses (Free Size),₹210,82% off
21,hipe,UV Protection Aviator Sunglasses (58),₹287,84% off
22,Fastrack,UV Protection Rectangular Sunglasses (Free Size),"₹1,010",22% off
23,PIRASO,UV Protection Rectangular Sunglasses (55),₹339,78% off
24,kingsunglasses,UV Protection Aviator Sunglasses (54),₹349,76% off
25,PIRASO,UV Protection Wayfarer Sunglasses (55),₹237,85% off
26,HIPPON,UV Protection Retro Square Sunglasses (88),₹225,81% off
27,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),₹599,70% off
28,Silver Kartz,UV Protection Round Sunglasses (54),₹246,83% off
29,kingsunglasses,UV Protection Aviator Sunglasses (Free Size),₹225,79% off
30,Fastrack,UV Protection Round Sunglasses (54),₹592,34% off
31,ROYAL SON,UV Protection Aviator Sunglasses (58),₹664,66% off
32,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),"₹1,085",16% off
33,Fastrack,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹522,41% off
34,DEIXELS,UV Protection Wayfarer Sunglasses (32),₹213,82% off
35,PIRASO,"UV Protection, Gradient Rectangular Sunglasses...",₹237,85% off
36,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (56),₹474,78% off
37,Fastrack,Mirrored Round Sunglasses (53),₹655,27% off

#### 2nd page

In [152]:
next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next.click()

In [153]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_names=[]
for i in brand:
    brand_names.append(i.text)
brand_names=brand_names[:-1]
print('\n Brand Name \n\n',brand_names)

 Brand Name

 ['Fastrack', 'hipe', 'Fastrack', 'LIZA ANGEL', 'Fastrack', 'Poland', 'PHENOMENAL', 'ROYAL SON', 'Fastrack', 'Flizz', 'ROZZETTA CRAFT', 'PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'ROYAL SON', 'ROYAL SON', 'kingsunglasses', 'Singco', 'hipe', 'ROYAL SON', 'Elligator', 'kingsunglasses', 'Singco', 'ROYAL SON', 'PIRASO', 'hipe', 'kingsunglasses', 'ROYAL SON', 'PHENOMENAL', 'PHENOMENAL', 'ROZZETTA CRAFT', 'ROYAL SON', 'ROZZETTA CRAFT', 'NuVew', 'Fastrack', 'PIRASO', 'GANSTA', 'PIRASO', 'GANSTA']

In [154]:
# extracting  all tags having price
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price__=[]
for i in price:
    price__.append(i.text)
price__=price__[:-1]
print('\n Price \n\n',price__)

 Price

 ['₹733', '₹189', '₹647', '₹275', '₹804', '₹162', '₹399', '₹664', '₹612', '₹399', '₹404', '₹339', '₹449', '₹738', '₹217', '₹599', '₹299', '₹252', '₹209', '₹664', '₹331', '₹210', '₹355', '₹265', '₹331', '₹269', '₹349', '₹699', '₹319', '₹399', '₹426', '₹699', '₹426', '₹235', '₹1,093', '₹237', '₹292', '₹237', '₹260']

In [155]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount__=[]
for i in discount:
    discount__.append(i.text)
discount__=discount__[:-1]
print('\n Discount % \n\n',discount__)

 Discount %

 ['18% off', '87% off', '28% off', '65% off', '10% off', '67% off', '80% off', '66% off', '31% off', '81% off', '79% off', '78% off', '77% off', '26% off', '78% off', '70% off', '80% off', '74% off', '79% off', '66% off', '74% off', '83% off', '82% off', '79% off', '87% off', '79% off', '78% off', '65% off', '84% off', '80% off', '80% off', '65% off', '78% off', '75% off', '15% off', '85% off', '85% off', '85% off', '86% off']

In [99]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_desc=[]
for i in product:
    product_desc.append(i.text)
print('\n Product Description  \n\n',product_desc)

 Product Description

 ['Mirrored Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, UV Protection, Gradient Round Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection Shield Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (49)', 'UV Protection, Polarized Wayfarer Sunglasses (56)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Night Vision, Riding Glasses Round Sungl...', 'UV Protection, Gradient Wayfarer Sunglasses (55)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...', 'Mirrored Aviator Sunglasses (53)', 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...', 'UV Protection Retro Square Sunglasses (60)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Others Aviator Sunglasses (32)', 'UV Protection Round Sunglasses (54)', 'Gradient, UV Protection Round Sunglasses (Free Size)', 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)', 'UV Protection, Riding Glasses Rectangular Sunglasses (F...', 'UV Protection Retro Square Sunglasses (88)', 'UV Protection, Mirrored Retro Square Sunglasses (Free S...', 'UV Protection Clubmaster Sunglasses (Free Size)', 'UV Protection Round Sunglasses (52)', 'Polarized, UV Protection Rectangular Sunglasses (59)', 'UV Protection Aviator Sunglasses (Free Size)', 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Retro Square Sunglasses (60)']

In [156]:
print('length of Brand Name: ',len(brand_names),
     '\nlength of Price: ',len(price__),
      '\nlength of Discount Percentage: ',len(discount__),
      '\nlength of Product Description: ',len(product_desc))

length of Brand Name:  39
length of Price:  39
length of Discount Percentage:  39
length of Product Description:  39

In [157]:
second=pd.DataFrame({'Brand Name':brand_names,'Product Description':product_desc,'Price':price__,'Discount %':discount__})
second

,Brand Name,Product Description,Price,Discount %
0,Fastrack,Mirrored Round Sunglasses (53),₹733,18% off
1,hipe,UV Protection Wayfarer Sunglasses (Free Size),₹189,87% off
2,Fastrack,"Mirrored, UV Protection, Gradient Round Sungla...",₹647,28% off
3,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹275,65% off
4,Fastrack,"UV Protection, Mirrored Retro Square Sunglasse...",₹804,10% off
5,Poland,UV Protection Shield Sunglasses (Free Size),₹162,67% off
6,PHENOMENAL,"Polarized, UV Protection Round Sunglasses (49)",₹399,80% off
7,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹664,66% off
8,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹612,31% off
9,Flizz,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹399,81% off
10,ROZZETTA CRAFT,"UV Protection, Night Vision, Riding Glasses Ro...",₹404,79% off
11,PIRASO,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹339,78% off
12,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
13,Fastrack,"UV Protection, Gradient Rectangular Sunglasses...",₹738,26% off
14,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),₹217,78% off
15,ROYAL SON,"UV Protection, Gradient, Mirrored, Riding Glas...",₹599,70% off
16,kingsunglasses,Mirrored Aviator Sunglasses (53),₹299,80% off
17,Singco,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹252,74% off
18,hipe,UV Protection Rectangular Sunglasses (Free Size),₹209,79% off
19,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹664,66% off
20,Elligator,UV Protection Round Sunglasses (54),₹331,74% off
21,kingsunglasses,"UV Protection, Gradient, Mirrored, Riding Glas...",₹210,83% off
22,Singco,UV Protection Retro Square Sunglasses (60),₹355,82% off
23,ROYAL SON,UV Protection Aviator Sunglasses (58),₹265,79% off
24,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹331,87% off
25,hipe,"UV Protection, Others Aviator Sunglasses (32)",₹269,79% off
26,kingsunglasses,UV Protection Round Sunglasses (54),₹349,78% off
27,ROYAL SON,"Gradient, UV Protection Round Sunglasses (Free...",₹699,65% off
28,PHENOMENAL,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹319,84% off
29,PHENOMENAL,"UV Protection, Riding Glasses Rectangular Sung...",₹399,80% off
30,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (88),₹426,80% off
31,ROYAL SON,"UV Protection, Mirrored Retro Square Sunglasse...",₹699,65% off
32,ROZZETTA CRAFT,UV Protection Clubmaster Sunglasses (Free Size),₹426,78% off
33,NuVew,UV Protection Round Sunglasses (52),₹235,75% off
34,Fastrack,"Polarized, UV Protection Rectangular Sunglasse...","₹1,093",15% off
35,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹237,85% off
36,GANSTA,"Mirrored, Riding Glasses, Others Sports Sungla...",₹292,85% off
37,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
38,GANSTA,UV Protection Retro Square Sunglasses (60),₹260,86% off

#### 3rd page

In [158]:
next=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next.click()

In [159]:
# extracting  all tags having Brand name
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_name_=[]
for i in brand:
    brand_name_.append(i.text)
brand_name_=brand_name_[0:23]
print('\n Brand Name \n\n',brand_name_)

 Brand Name

 ['PIRASO', 'GANSTA', 'PIRASO', 'povty', 'GANSTA', 'Singco India', 'Singco India', 'EYELLUSION', 'ROYAL SON', 'Fastrack', 'Fravy', 'AISLIN', 'kingsunglasses', 'PHENOMENAL', 'Fastrack', 'PIRASO', 'ROYAL SON', 'United Colors of Benetton', 'Badfella', 'ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'Singco India']

In [160]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price1_=[]
for i in price:
    price1_.append(i.text)
price1_=price1_[0:23]
print('\n Price \n\n',price1_)

 Price

 ['₹237', '₹260', '₹237', '₹349', '₹292', '₹214', '₹252', '₹225', '₹379', '₹679', '₹299', '₹498', '₹249', '₹399', '₹649', '₹331', '₹265', '₹1,405', '₹269', '₹349', '₹558', '₹758', '₹309']

In [161]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount1_=[]
for i in discount:
    discount1_.append(i.text)
discount1_=discount1_[0:23]
print('\n Discount % \n\n',discount1_)

 Discount %

 ['85% off', '86% off', '85% off', '65% off', '85% off', '69% off', '83% off', '77% off', '74% off', '24% off', '80% off', '67% off', '79% off', '80% off', '18% off', '79% off', '79% off', '65% off', '73% off', '80% off', '30% off', '15% off', '81% off']

In [162]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_descr=[]
for i in product:
    product_descr.append(i.text)
product_descr=product_descr[0:23]
print('\n Product Description  \n\n',product_descr)

 Product Description

 ['UV Protection Aviator Sunglasses (54)', 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection, Mirrored Round Sunglasses (54)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (55)', 'Gradient, UV Protection Aviator Sunglasses (56)', 'Polarized, UV Protection Retro Square Sunglasses (53)', 'UV Protection, UV Protection Retro Square Sunglasses (F...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Riding Glasses, Others, UV Protection Wrap-around Sungl...', 'UV Protection Over-sized Sunglasses (60)']

In [163]:
print('length of Brand Name: ',len(brand_name_),
     '\nlength of Price: ',len(price1_),
      '\nlength of Discount Percentage: ',len(discount1_),
      '\nlength of Product Description: ',len(product_descr))

length of Brand Name:  23
length of Price:  23
length of Discount Percentage:  23
length of Product Description:  23

In [164]:
import pandas as pd
third=pd.DataFrame({'Brand Name':brand_name_,'Product Description':product_descr,'Price':price1_,'Discount %':discount1_})
third

,Brand Name,Product Description,Price,Discount %
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹260,86% off
2,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
3,povty,UV Protection Wayfarer Sunglasses (Free Size),₹349,65% off
4,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹292,85% off
5,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹214,69% off
6,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹252,83% off
7,EYELLUSION,Mirrored Aviator Sunglasses (55),₹225,77% off
8,ROYAL SON,UV Protection Aviator Sunglasses (Free Size),₹379,74% off
9,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹679,24% off
10,Fravy,"UV Protection, Gradient Butterfly, Retro Squar...",₹299,80% off
11,AISLIN,"UV Protection, Mirrored Round Sunglasses (54)",₹498,67% off
12,kingsunglasses,"UV Protection, Mirrored Retro Square Sunglasse...",₹249,79% off
13,PHENOMENAL,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹399,80% off
14,Fastrack,UV Protection Aviator Sunglasses (50),₹649,18% off
15,PIRASO,UV Protection Wayfarer Sunglasses (55),₹331,79% off
16,ROYAL SON,"Gradient, UV Protection Aviator Sunglasses (56)",₹265,79% off
17,United Colors of Benetton,"Polarized, UV Protection Retro Square Sunglass...","₹1,405",65% off
18,Badfella,"UV Protection, UV Protection Retro Square Sung...",₹269,73% off
19,ROZZETTA CRAFT,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹349,80% off
20,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹558,30% off
21,Fastrack,"Riding Glasses, Others, UV Protection Wrap-aro...",₹758,15% off
22,Singco India,UV Protection Over-sized Sunglasses (60),₹309,81% off

In [165]:
df=pd.concat([first,second,third],axis=0)
df.reset_index()
df.head()

,Brand Name,Product Description,Price,Discount %
0,LIZA ANGEL,"UV Protection, Riding Glasses, Others Aviator,...",₹275,65% off
1,Singco India,UV Protection Rectangular Sunglasses (Free Size),₹214,69% off
2,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹513,35% off
3,kingsunglasses,UV Protection Wayfarer Sunglasses (Free Size),₹299,88% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹758,15% off

#

## Q7.Scrape 100 reviews data from flipkart.com for iphone11 phone from https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [166]:
import pandas as pd
import selenium
from selenium import webdriver

In [167]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [168]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [169]:
allr=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
allr.click()

In [170]:
url=driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [171]:
rating=[]
for i in url_:
    driver.get(i)
    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rat:
        rating.append(i.text)
rating=rating[0:100]
print('\n Rating  \n\n',rating)

 Rating

 ['5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '3', '3', '4', '5', '5', '5', '5', '5', '5', '4', '4', '5', '5', '5']

In [172]:
review_summary=[]
for i in url_:
    driver.get(i)
    rs=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rs:
        review_summary.append(i.text)
review_summary=review_summary[0:100]
print('\n Review Summary  \n\n',review_summary)

 Review Summary

 ['Simply awesome', 'Brilliant', 'Perfect product!', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Good choice', 'Highly recommended', 'Perfect product!', 'Perfect product!', 'Highly recommended', 'Worth every penny', 'Perfect product!', 'Simply awesome', 'Worth every penny', 'Highly recommended', 'Terrific', 'Classy product', 'Nice product', 'Mind-blowing purchase', 'Terrific purchase', 'Simply awesome', 'Good quality product', 'Very poor', 'Best in the market!', 'Perfect product!', 'Must buy!', 'Fabulous!', 'Mind-blowing purchase', 'Mind-blowing purchase', 'Wonderful', 'Worth every penny', 'Great product', 'Very Good', 'Perfect product!', 'Classy product', 'Perfect product!', 'Just wow!', 'Awesome', 'Terrific', 'Terrific purchase', 'Awesome', 'Perfect product!', 'Brilliant', 'Perfect product!', 'Awesome', 'Perfect product!', 'Excellent', 'Not recommended at all', 'Fabulous!', 'Excellent', 'Must buy!', 'Value-for-money', 'Brilliant', 'Terrific purchase', 'Good quality product', 'Perfect product!', 'Value-for-money', 'Just wow!', 'Super!', 'Best in the market!', 'Mind-blowing purchase', 'Awesome', 'Excellent', 'Must buy!', 'Excellent', 'Pretty good', 'Worth every penny', 'Highly recommended', 'Mind-blowing purchase', 'Good quality product', 'Fabulous!', 'Just wow!', 'Super!', 'Awesome', 'Terrific purchase', 'Awesome', 'Decent product', 'Does the job', 'Pretty good', 'Classy product', 'Wonderful', 'Very poor', 'Super!', 'Fabulous!', 'Excellent', 'Best in the market!', 'Wonderful', 'Nice product', 'Perfect product!', 'Highly recommended', 'Worth every penny', 'Perfect product!', 'Simply awesome', 'Worth every penny', 'Highly recommended', 'Terrific', 'Classy product', 'Nice product']

In [173]:
full_review=[]
for i in url_:
    driver.get(i)
    fr=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in fr:
        full_review.append(j.text.replace('\n',' '))
full_review=full_review[0:100]
print('\n Full Review  \n\n',full_review)

 Full Review


In [174]:
print('length of Rating: ',len(rating),
     '\nlength of Review Summary: ',len(review_summary),
      '\nlength of Full Review: ',len(full_review))

length of Rating:  100
length of Review Summary:  100
length of Full Review:  100

In [175]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Worth every penny,Everything is perfect pictures come out so cle...
96,4,Highly recommended,Value for money product. This iphone 11 is rea...
97,5,Terrific,The best all rounder iphone. Flipkart is doing...
98,5,Classy product,I genuinely liked it. One of the best mobile p...
99,5,Nice product,If you are looking for a premium phone under 5...

#

## Q8.Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [176]:
import pandas as pd
import selenium
from selenium import webdriver

In [177]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [178]:
driver.get('https://www.flipkart.com/')

In [179]:
login_box=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_box.click()

In [180]:
enter=driver.find_element_by_name('q')
enter.send_keys('sneakers')

In [181]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [182]:
url=driver.find_elements_by_xpath("//div[@class='_2MImiq']//a")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_=url_[0:10]
url_

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [183]:
brand_name_=[]
for i in url_:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        brand_name_.append(i.text)
brand_name_=brand_name_[0:100]
print('\n Brand Name \n\n',brand_name_)

 Brand Name

 ['Numenzo', 'HOC', 'Numenzo', 'M K FOOTWEAR', 'Robbie jones', 'CALCADOS', 'PEHANOSA', 'BRUTON', 'Robbie jones', 'Zsyto', 'Nilatin', 'BRUTON', 'KULP', 'ASTEROID', 'Shoes Bank', 'Robbie jones', 'Chevit', 'Labbin', 'World Wear Footwear', 'India hub', 'believe', 'Chevit', 'Chevit', 'Labbin', 'Chevit', 'Numenzo', 'Ktiz', 'Robbie jones', 'STRANGER BROTHERS', 'Robbie jones', 'ESSENCE', 'Chevit', 'bluemaker', 'HOTSTYLE', 'World Wear Footwear', 'tigonis', 'Zsyto', 'Magnolia', 'Stefano Rads', 'LishTree', 'Birde', 'HOTSTYLE', 'D-SNEAKERZ', 'Numenzo', 'World Wear Footwear', 'SCATCHITE', 'ESSENCE', 'HOC', 'Fzzirok', 'Zorth', 'Robbie jones', 'luxury fashion', 'Bonexy', 'bacca bucci', 'World Wear Footwear', 'BRUTON', 'Absolute comfort', 'Jack Diamond', 'Robbie jones', 'India hub', 'SHOELIFE', 'kardam&sons', 'Zixer', 'Robbie jones', 'mannu', 'Absolute comfort', 'Robbie jones', 'Labbin', 'Robbie jones', 'SPARX', 'Zsyto', 'Labbin', 'T-ROCK', 'Zorth', 'M K FOOTWEAR', 'Robbie jones', 'ESSENCE', 'Fzzirok', 'BRUTON', 'Chevit', 'Svpanther', 'ASIAN', 'World Wear Footwear', 'Numenzo', 'Numenzo', 'Zsyto', 'RODDICK SHOES', 'HOC', 'Fzzirok', 'HOCKWOOD', 'ESSENCE', 'BRUTON', 'STRANGER BROTHERS', 'Robbie jones', 'bluemaker', 'BRUTON', 'Absolute comfort', 'ESSENCE', 'Absolute comfort', 'India hub']

In [184]:
price1_=[]
for i in url_:
    driver.get(i)
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        price1_.append(i.text)
price1_=price1_[0:100]
print('\n Price \n\n',price1_)

 Price

 ['₹449', '₹474', '₹378', '₹449', '₹379', '₹748', '₹495', '₹499', '₹499', '₹298', '₹449', '₹379', '₹399', '₹499', '₹349', '₹379', '₹350', '₹499', '₹240', '₹403', '₹399', '₹683', '₹425', '₹499', '₹599', '₹426', '₹474', '₹495', '₹475', '₹499', '₹399', '₹379', '₹449', '₹199', '₹273', '₹399', '₹398', '₹377', '₹242', '₹499', '₹698', '₹283', '₹349', '₹449', '₹240', '₹379', '₹399', '₹379', '₹349', '₹450', '₹499', '₹499', '₹449', '₹949', '₹240', '₹403', '₹189', '₹635', '₹499', '₹499', '₹449', '₹405', '₹555', '₹499', '₹378', '₹284', '₹449', '₹399', '₹499', '₹699', '₹398', '₹379', '₹499', '₹448', '₹449', '₹759', '₹468', '₹399', '₹474', '₹495', '₹499', '₹629', '₹499', '₹449', '₹407', '₹328', '₹499', '₹379', '₹399', '₹692', '₹468', '₹474', '₹499', '₹499', '₹449', '₹499', '₹298', '₹468', '₹199', '₹403']

In [185]:
discount1_=[]
for i in url_:
    driver.get(i)
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    # using for loop to extracting text
    for i in discount:
        discount1_.append(i.text)
discount1_=discount1_[0:100]
print('\n Discount % \n\n',discount1_)

 Discount %

 ['77% off', '88% off', '62% off', '55% off', '62% off', '62% off', '50% off', '80% off', '50% off', '77% off', '65% off', '81% off', '60% off', '75% off', '65% off', '87% off', '29% off', '50% off', '51% off', '86% off', '60% off', '72% off', '71% off', '50% off', '62% off', '78% off', '63% off', '66% off', '52% off', '50% off', '60% off', '62% off', '55% off', '60% off', '45% off', '60% off', '69% off', '62% off', '65% off', '61% off', '65% off', '43% off', '47% off', '77% off', '51% off', '62% off', '60% off', '81% off', '65% off', '54% off', '50% off', '87% off', '55% off', '62% off', '51% off', '80% off', '62% off', '36% off', '50% off', '86% off', '55% off', '76% off', '44% off', '69% off', '62% off', '71% off', '55% off', '50% off', '50% off', '69% off', '62% off', '50% off', '55% off', '55% off', '50% off', '53% off', '60% off', '88% off', '60% off', '50% off', '21% off', '81% off', '77% off', '59% off', '74% off', '50% off', '81% off', '60% off', '30% off', '53% off', '88% off', '50% off', '50% off', '55% off', '80% off', '70% off', '53% off', '60% off', '86% off', '61% off']

In [186]:
product_descr=[]
for i in url_:
    driver.get(i)
    product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    # using for loop to extracting text
    for i in product:
        product_descr.append(i.text)
product_descr=product_descr[0:100]
print('\n Product Description  \n\n',product_descr)

 Product Description

 ['Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable Breathable White shoes for men Sneak...', 'Sneakers For Men', 'Black Sneaker For Men Sneakers For Men', 'Sneakers For Men', 'heart beat Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", "White Sneaker For Men's/Boy's Sneakers For Men", 'Combo Pack Of 4 Casual Sneakers For Men', 'Super 445 Fashion Sneakers For Men', 'Sneakers For Men', '5011-Latest Collection Stylish Casual Loafer Sneakers S...', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Sneakers for men(black_6) Sneakers For Men', 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Fashionable casual sneakers shoes Sneakers For Men', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...', 'Sneakers For Men', 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...', 'Casual Sneakers White Shoes For Men And Boys Sneakers F...', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Casuals Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'casual for men (blue 06) Sneakers For Men', 'Latest Collection-1227 Stylish Casual Sports Sneakers F...', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Combo Pack of 4 Casual Shoes Sneakers For Men', 'Sneakers Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable Breathable White shoes for men Sneak...', 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Fashionable casual sneaker shoes Sneakers For Men', 'Sneakers For Men', 'Fashion Sneakers For Men', 'Men 5014 Latest Collection Stylish Casual Sports Loafer...', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', 'Fashionable casual sneakers shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'mnnu casual running shoes, walking shoes, Sneakers For ...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Casual Sneakers White Shoes For Men And Boys Sneakers F...', 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...', 'Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Trendy Sneakers For Men', 'Combo Pack Of 4 Casual Sneakers For Men', 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...', 'Sneakers For Men', 'Sneakers For Men', 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...', 'Sneakers For Men', 'Trendy Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'casual shoe for men Sneakers For Men', 'Luxury Fashionable Breathable White shoes for men Sneak...', 'Sneakers For Men', 'Trendy Sneakers For Men', 'Combo Pack Of 4 Casual Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'TREAD LITE LUX Sneakers For Men', 'Trenzo II IDP Sneakers For Men', 'Fashionable casual sneakers shoes Sneakers For Men', 'Fashionable casual sneaker shoes Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'Trend Sneakers For Men', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Sneakers Sneakers For Men', 'SD-323 Sneakers For Men', 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...', 'shoes for boys Sneakers For Men', '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...', 'Sneakers For Men', 'Simha IDP Sneakers For Men', 'Sneakers For Men', 'White Sneakers Sneakers For Men', 'Casual Sneakers Shoes For Men Sneakers For Men', 'Combo Pack of 2 Walking Shoes Sneakers For Men', 'Chevit Latest Fashion Combo Pack of 2 Pairs Casual Outd...']

In [187]:
print('length of Brand Name: ',len(brand_name_),
     '\nlength of Price: ',len(price1_),
      '\nlength of Discount Percentage: ',len(discount1_),
      '\nlength of Product Description: ',len(product_descr))

length of Brand Name:  100
length of Price:  100
length of Discount Percentage:  100
length of Product Description:  100

In [189]:
df=pd.DataFrame({'Brand Name':brand_name_,'Product Description':product_descr,'Price':price1_,'Discount %':discount1_})
df.head()

,Brand Name,Product Description,Price,Discount %
0,Numenzo,Sneakers For Men,₹449,77% off
1,HOC,Sneakers For Men,₹474,88% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,M K FOOTWEAR,Casual Sneakers Shoes For Men Sneakers For Men,₹449,55% off
4,Robbie jones,Sneakers For Men,₹379,62% off

#

# 9.Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [190]:
import pandas 
import selenium
from selenium import webdriver

In [191]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [192]:
driver.get('https://www.myntra.com/shoes')

In [193]:
cf=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
cf.click()

In [194]:
pf=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
pf.click()

In [195]:
url=driver.find_elements_by_xpath("//div[@class='results-showMoreContainer']//a")
urll=[]
for i in url:
    urll.append(i.get_attribute('href'))
urll=urll[0:5] # reduce to 5 pages
urll

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0&p=5']

In [196]:
brandd=[]
for i in urll:
    driver.get(i)
    b=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in b:
        brandd.append(i.text)
brandd=brandd[0:100]
print('\n Brand Name  \n\n',brandd)

 Brand Name

 ['ALDO', 'Nike', 'ALDO', 'Puma', 'Nike', 'ALDO', 'Nike', 'UNDER ARMOUR', 'Puma', 'UNDER ARMOUR', 'Nike', 'Skechers', 'PUMA Hoops', 'Hush Puppies', 'FORCLAZ By Decathlon', 'Nike', 'Puma', 'ASICS', 'Hush Puppies', 'Hush Puppies', 'Hush Puppies', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Hush Puppies', 'Hush Puppies', 'Puma', 'Nike', 'Puma', 'Hush Puppies', 'Hush Puppies', 'Hush Puppies', 'Hush Puppies', 'Tommy Hilfiger', 'DAVINCHI', 'ALDO', 'Kalenji By Decathlon', 'J.FONTINI', 'Kenneth Cole', 'KIPRUN By Decathlon', 'Ruosh', 'Bugatti', 'J.FONTINI', 'Ruosh', 'Puma', 'Geox', 'Geox', 'FILA', 'UNDER ARMOUR', 'ALDO', 'Kenneth Cole', 'Geox', 'Puma', 'Geox', 'Ruosh', 'RARE RABBIT', 'Nike', 'J.FONTINI', 'Geox', 'Geox', 'Nike', 'Nike', 'Bugatti', 'Ruosh', 'Nike', 'Hush Puppies', 'KLEAT', 'Nike', 'Nike', 'Geox', 'ADIDAS', 'Cole Haan', 'Cole Haan', 'Geox', 'Cole Haan', 'Geox', 'Ruosh', 'Puma', 'Kenneth Cole', 'VIONIC', 'ASICS', 'Kenneth Cole', 'UNDER ARMOUR', 'KLEAT', 'Hush Puppies', 'Lacoste', 'Kenneth Cole', 'J.FONTINI', 'ADIDAS', 'Puma', 'Cole Haan', 'Kenneth Cole', 'Geox', 'Cole Haan', 'Geox', 'Cole Haan', 'Heel & Buckle London', 'Heel & Buckle London', 'Saint G', 'Heel & Buckle London', 'Geox']

In [197]:
d=[]
for i in urll:
    driver.get(i)
    pd=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in pd:
        d.append(i.text)
d=d[0:100]
print('\n Short Description  \n\n',d)

 Short Description

 ['Men Driving Shoes', 'Men Sneakers', 'LEBRON XVIII Basketball Shoes', 'Mesh Hybrid Fuego Running', 'Men Sneakers', 'Unisex LEBRON XVIII Basketball', 'Men Running Shoes', 'Women FREE RN 5.0 Shoes', 'Women Liquify Rebel Running', 'Women TriBase Reign 2 Training', 'Men CHALLENGER OG Sneakers', 'Men Leather Slip-On Shoes', 'Men Flex Advantage 4.0Upstream', 'Women Solid Leather Pumps', 'Women Air Max Siren Sneakers', 'TREKKING 100 Boots', 'Men Running Shoes', 'Men Solid Leather Formal Slip-Ons', 'Unisex Clyde Basketball Shoes', 'Men Colourblocked Driving Shoes', 'Men Leather Slip-On Sneakers', 'Women HOVR Rise 2 Training', 'HOVR Sonic 3 Running Shoes', 'Men Leather Slip-On Sneakers', 'Men Leather Derbys', 'Men DBREAK-TYPE Sneakers', 'Men Football Shoes', 'Women Deviate Nitro Running', 'Men Solid Leather Formal Derbys', 'Men Formal Derbys', 'Men Solid Leather Formal Slip-Ons', 'Men Textured Formal Leather Loafers', 'Men Solid Leather Formal Slip-Ons', 'Men Solid Sneakers', 'Men KD500 Running Shoe', 'Women Running Shoes', 'Men Textured Leather Loafers', 'Men Solid Leather Formal Slip-Ons', 'Men Perforated Mule Sneakers', 'Men Textured Leather Loafers', 'Men Textured Derbys', 'Men IGNITE Flash EvoKNIT', 'Men Leather Semiformal Driving', 'Women Sneakers', 'Men Leather Formal Slip Ons', 'GS SC 3Zero IV Basketball', 'Women Sandals', 'Men Solid Leather Formal Derbys', 'Men Formal Leather Brogues', 'Men Leather Formal Derbys', 'Men Solid Leather Formal Derbys', 'Men Formal Leather Brogues', 'Men Leather Formal Derbys', 'Men 365 Evoknit Ignite Ct Football', 'Men Leather Formal Derbys', '', 'Women ZOOM FLY 3 Running Shoes', 'Men Perforations Leather Brogues', 'Men Textured Leather Loafers', 'Men Leather Formal Derbys', 'Women Leather Solid Pumps', 'Men AIR ZOOM PEGASUS 38 Run', 'Men AIR ZOOM PEGASUS 38 Run', 'Men Solid Leather Formal Monk Shoes', 'Men Solid Leather Formal Monks', 'Men REACT MILER 2 Running', 'Men Woven Design Sneakers', 'Men REACT MILER 2 Running', 'Unisex TREY 5 Basketball Shoes', 'Men Leather Driving Shoes', 'Women Edge Lux 4 Running', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Wingtip Oxford Sneakers', 'Men Leather Slip-On Sneakers', 'Leather Sneakers', 'Men Leather Driving Shoes', 'Men Textured Leather Monks', 'Men Leather Sneakers', 'Men Textured Sneakers', 'Men Running Shoes', 'Men Textured Sneakers', 'HOVR Infinite 2 Running Shoes', 'Men Textured Oxfords', 'Men Woven Design Sneakers', 'Men Colourblocked Sneakers', 'Men Woven Design Loafers', 'Men Solid Loafers', 'Men WhirlZ Running Shoes', 'Men Ultra Triller FM Shoes', 'Women Open Toe Flats', 'Men Formal Derbys', 'Men Leather Formal Monks', 'Women Sneakers', 'Women Solid Leather Loafers', 'Women Leather Sneakers', 'Men Leather Formal Oxfords', 'Women Solid Leather Gladiators', 'Women Heeled Boots', 'Women Solid Leather Heels', 'Women Woven Design Slip-On Sneakers']

In [198]:
p=[]
for i in urll:
    driver.get(i)

    pr=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in pr:
        p.append(i.text)
p=p[0:100]
print('\n Price  \n\n',p)

 Price

 ['Rs. 11999', 'Rs. 9999', 'Rs. 12316Rs. 17595( 30 % OFF)', 'Rs. 6999', 'Rs. 9999', 'Rs. 12316Rs. 17595(30% OFF)', 'Rs. 12999', 'Rs. 6795Rs. 7995(15% OFF)', 'Rs. 8999', 'Rs. 11999', 'Rs. 6965Rs. 8195(15% OFF)', 'Rs. 6999', 'Rs. 6999', 'Rs. 9999', 'Rs. 6965Rs. 8195(15% OFF)', 'Rs. 6999', 'Rs. 6899Rs. 9999(31% OFF)', 'Rs. 8999', 'Rs. 7699Rs. 10999(30% OFF)', 'Rs. 8999', 'Rs. 6999', 'Rs. 9999', 'Rs. 10999', 'Rs. 9999', 'Rs. 7999', 'Rs. 6965Rs. 8195(15% OFF)', 'Rs. 12749Rs. 16999(25% OFF)', 'Rs. 11249Rs. 14999(25% OFF)', 'Rs. 9999', 'Rs. 9999', 'Rs. 9999', 'Rs. 8990', 'Rs. 8999', 'Rs. 7599', 'Rs. 7857Rs. 8449(7% OFF)', 'Rs. 7006Rs. 7149(2% OFF)', 'Rs. 7690', 'Rs. 6990', 'Rs. 6999', 'Rs. 6990', 'Rs. 8990', 'Rs. 6999', 'Rs. 10490', 'Rs. 8999', 'Rs. 8399Rs. 11999(30% OFF)', 'Rs. 7499', 'Rs. 8999', 'Rs. 7066Rs. 13590(48% OFF)', 'Rs. 7490', 'Rs. 7349Rs. 10499(30% OFF)', 'Rs. 8999', 'Rs. 8399Rs. 11999(30% OFF)', 'Rs. 7066Rs. 13590(48% OFF)', 'Rs. 7490', 'Rs. 7349Rs. 10499(30% OFF)', 'Rs. 6999Rs. 9999( 30 % OFF)', 'Rs. 6995Rs. 13990(50% OFF)', 'Rs. 11895Rs. 13995(15% OFF)', 'Rs. 6999', 'Rs. 8043Rs. 11490(30% OFF)', 'Rs. 7194Rs. 11990(40% OFF)', 'Rs. 6990', 'Rs. 8499', 'Rs. 6990', 'Rs. 9995', 'Rs. 9995', 'Rs. 7999', 'Rs. 11495', 'Rs. 9999', 'Rs. 6999', 'Rs. 7999', 'Rs. 11495', 'Rs. 11999', 'Rs. 12999', 'Rs. 9490', 'Rs. 10999', 'Rs. 9990', 'Rs. 6990', 'Rs. 11249Rs. 14999(25% OFF)', 'Rs. 6793Rs. 9990(32% OFF)', 'Rs. 7039Rs. 10999(36% OFF)', 'Rs. 11999', 'Rs. 8590', 'Rs. 11999', 'Rs. 6999', 'Rs. 6999', 'Rs. 8650', 'Rs. 7413Rs. 10590(30% OFF)', 'Rs. 7999', 'Rs. 7990', 'Rs. 7149Rs. 10999(35% OFF)', 'Rs. 6749Rs. 8999(25% OFF)', 'Rs. 6499Rs. 9999(35% OFF)', 'Rs. 11999', 'Rs. 7413Rs. 10590(30% OFF)', 'Rs. 7999Rs. 15999(50% OFF)', 'Rs. 12999', 'Rs. 7999', 'Rs. 8195', 'Rs. 10999']

In [199]:
print('length of Brand Name: ',len(brandd),
     '\nlength of Price: ',len(p),
      '\nlength of Short Description: ',len(d))

length of Brand Name:  100
length of Price:  100
length of Short Description:  100

In [200]:
df=pandas.DataFrame({'Brand':brandd,'Price':p,'Short Desc':d})
df

,Brand,Price,Short Desc
0,ALDO,Rs. 11999,Men Driving Shoes
1,Nike,Rs. 9999,Men Sneakers
2,ALDO,Rs. 12316Rs. 17595( 30 % OFF),LEBRON XVIII Basketball Shoes
3,Puma,Rs. 6999,Mesh Hybrid Fuego Running
4,Nike,Rs. 9999,Men Sneakers
...,...,...,...
95,Heel & Buckle London,Rs. 7999Rs. 15999(50% OFF),Men Leather Formal Oxfords
96,Heel & Buckle London,Rs. 12999,Women Solid Leather Gladiators
97,Saint G,Rs. 7999,Women Heeled Boots
98,Heel & Buckle London,Rs. 8195,Women Solid Leather Heels
99,Geox,Rs. 10999,Women Woven Design Slip-On Sneakers

#

# 10.Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [269]:
import pandas 
import selenium
from selenium import webdriver

In [270]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [271]:
driver.get('https://www.amazon.in/')

In [272]:
s=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
s.send_keys('Laptop')

In [273]:
sbc=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
sbc.click()

In [274]:
i7=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[26]/span/a/div/label/i")
i7.click()

In [275]:
i9=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[28]/span/a/div/label/i")
i9.click()

In [276]:
lt=[]
# extracting laptop title
lt_=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in lt_:
    lt.append(i.text)
lt=lt[:-10]
print('\n Laptop Title  \n\n',lt)

 Laptop Title

 ['MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" (39.62cms) FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN', 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN', 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)', 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)', 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam', 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU', 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN', 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN', 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7', 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)', 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019', 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN', 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS', '(Renewed) Dell Intel Core i7 7th Gen12.5 Inch(31.75 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (16GB RAM/512GB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7280', '(Renewed) Dell XPS 9370 13.3-inch UHD Thin & Light Laptop(8th Gen i7-8550U/16GB/512GB SSD/Win 10 + MS Office/Integrated Graphics), Gold', '(Renewed) Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7']

In [277]:
p_=[]
# extracting price
pr_=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr_:
    p_.append(i.text)
p_=p_[:16]
print('\n Price  \n\n',p_)

 Price

 ['2,55,990', '94,171', '83,993', '78,993', '59,999', '88,990', '83,990', '94,171', '40,932', '91,790', '84,990', '69,990', '76,990', '61,999', '88,423', '32,745']

In [278]:
# extracting all urls for rating inside page
url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A05780271S4CN3OBO5F46&url=%2FMSI-GS66-Stealth-i7-10875H-10SFS-488IN%2Fdp%2FB08KG3CHVR%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1626350353%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1626350353&id=8004536383414434&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A0872671147908G7LKB8X&url=%2FMSI-i7-10750H-IPS-Level-Windows-10SDR-1280IN%2Fdp%2FB093L8JCZV%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1626350353%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1626350353&id=8004536383414434&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SDR-1280IN/dp/B093L8JCZV/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/GF63-Thin-10SCSR-019IN-i7-10750H-9S7-16R412-019/dp/B0897SXQNN/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Dell-TOUCHSCREEN-Integrated-Graphics-Latitude/dp/B097YXTS33/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/Dell-13-3-inch-i7-8550U-Integrated-Graphics/dp/B09813L8BX/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/Renewed-Digital-Laptop-15-6-inch-Windows/dp/B095WTQ3MM/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974W4W9W/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-Ideapad-Windows-Graphics-81Y400BPIN/dp/B087D38ZNG/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRHFV23/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B09752NVNF/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Lenovo-ThinkPad-1920x1080-Fingerprint-Bluetooth/dp/B07YM16SHV/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Asus-Zephyrus-GeForce-i7-8750H-GX531GW-AS76/dp/B07KS1JF2H/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Nexstgo-NP15N1IN008P-15-6-inch-i7-8550U-Integrated/dp/B07KGP3HP3/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Renewed-Lenovo-Integrated-Graphics-WARRANTY/dp/B092Z9PXWT/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Renewed-Dell-Integrated-Graphics-Latitude/dp/B098TTQFJB/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Dell-15-6-inch-i7-10750H-NVIDIA1650-D560260WIN9BE/dp/B08H9PTSYR/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1626350353&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [279]:
r_=[]
for i in url_:
    driver.get(i) # to open the url
    lr=driver.find_elements_by_xpath("//div[@class='a-fixed-left-grid-col aok-align-center a-col-right']")
    for i in lr:
        r_.append(i.text.replace('\n',' '))
r_=r_[:16]
print('\n Rating \n\n',r_)

 Rating

 ['2 out of 5', '3.8 out of 5', '4.5 out of 5', '4 out of 5', '4.4 out of 5', '4.6 out of 5', '4 out of 5', '3.8 out of 5', '3.7 out of 5', '4.2 out of 5', '2.9 out of 5', '4.3 out of 5', '4.3 out of 5', '1 out of 5', '3.2 out of 5', '1 out of 5']

In [280]:
print('length of Laptop Title: ',len(lt),
     '\nlength of Price: ',len(p_),
      '\nlength of Rating: ',len(r_))

length of Laptop Title:  16
length of Price:  16
length of Rating:  16

In [281]:
df=pandas.DataFrame({'Laptop Title':lt,'Price':p_,'Rating':r_})
df

                                         Laptop Title     Price        Rating
0   MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 1...  2,55,990    2 out of 5
1   MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    94,171  3.8 out of 5
2   HP Pavilion (2021) Thin & Light 11th Gen Core ...    83,993  4.5 out of 5
3   HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...    78,993    4 out of 5
4   Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,999  4.4 out of 5
5   HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...    88,990  4.6 out of 5
6   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    83,990    4 out of 5
7   MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    94,171  3.8 out of 5
8   Life Digital Laptop 15.6-inch (39.62 cms) (Int...    40,932  3.7 out of 5
9   Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...    91,790  4.2 out of 5
10  MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750...    84,990  2.9 out of 5
11  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...    69,990  4.3 out of 5
12  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    76,990  4.3 out of 5
13  (Renewed) Dell Intel Core i7 7th Gen12.5 Inch(...    61,999    1 out of 5
14  (Renewed) Dell XPS 9370 13.3-inch UHD Thin & L...    88,423  3.2 out of 5
15  (Renewed) Life Digital Laptop 15.6-inch (39.62...    32,745    1 out of 5